@import "../configs/headings";

blockquote {
  @import "../components/Framed/framedStyles";
  @include framedStyles;

  font-size: _config(headingSize, h4);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -2px;

  @include breakpoint(md) {
    font-size: _config(headingSize, h3);
  }
}
