@import "../configs/color";
@import "../configs/font";

html {
  background-color: _color(background);
  color: _color(text);
  font-family: #{_config(fontFamily, sans)};
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;

  @include breakpoint(md) {
    font-size: 20px;
  }
}

::selection {
  background: _color(brand);
}
