@import "../configs/color";

a {
  border-bottom: 1px solid _color(brand);
  color: _color(brand);
  transition: none;
  text-decoration: none;

  &:hover {
    background-image: url('/images/link-swiggle.svg');
    background-position: 0 calc(100% - 1.5px);
    background-size: auto 3px;
    background-repeat: repeat-x;
    border-bottom: 0;
    padding-bottom: 3px;
    text-decoration: none;
  }
}
