// Checkout
// https://theoutline.com/

@import "../configs/color";

a {
  background-color: rgba(_color(brand), 0.3);
  border-bottom: 2px solid _color(brand);
  color: white;
  transition: background-color 0.2s ease;
  text-decoration: none;

  &:active {
    background-color: rgba(_color(brand), 0.5);
  }

  &:hover,
  &:focus {
    @import "../mixins/swiggleStyles";
    @include swiggleBackground;
    padding-bottom: 3px;
    outline: none;
    text-decoration: none;
  }
}
