@mixin framedStyles($color: false) {
  $cornerSize: 15px;
  $gutter: 10px;
  $offset: 28px;
  border: $cornerSize solid rgba(black, 0);
  box-sizing: border-box;
  margin-left: -($cornerSize);
  margin-right: -($cornerSize);
  padding: $offset 0;

  @if ($color) {
    border-image: url('/images/framed-corners--#{$color}.svg') 50%;
  } @else {
    border-image: url('/images/framed-corners.svg') 50%;
  }

  @include breakpoint(lg) {
    $offset: 12px;
    padding: $offset;
    margin-left: -($offset + $cornerSize);
    margin-right: -($offset + $cornerSize);
  }
}
