{% Section class: 'u-pad-v-0 u-pad-v-10@md' %}
  <hr />
  {% Row class: 'u-pad-t-5' %}
    {% if page.previous.url %}
    {% Col class: 'o-col-6@md u-mrg-v-10' %}
      {% Heading class: 'u-mrg-b-6', small: true, em: true %}
        Previous Post
      {% endHeading %}
      {% assign post = page.previous %}
      {% assign excerpt = post.excerpt | strip_html %}
      {% Post
        category: post.categories.first
        excerpt: excerpt
        link: post.url
        title: post.title
      %}
    {% endCol %}
    {% endif %}

    {% if page.next.url %}
    {% Col class: 'o-col-6@md u-mrg-v-10' %}
      {% Heading class: 'u-mrg-b-6', small: true, em: true %}
        Next Post
      {% endHeading %}
      {% assign post = page.next %}
      {% assign excerpt = post.excerpt | strip_html %}
      {% Post
        category: post.categories.first
        excerpt: excerpt
        link: post.url
        title: post.title
      %}
    {% endCol %}
    {% endif %}
  {% endRow %}
{% endSection %}
