@import "pack/seed-config/_index";

@include _config((
  fontFamily: (
    sans: 'Helvetica Neue, Helvetica, Arial, sans-serif',
    serif: 'Georgia, serif',
    code: '"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace',
  )
));
