@import "pack/seed-config/_index";

@include _config((
  headingSize: (
    h1: 3.998rem,
    h2: 2.827rem,
    h3: 1.999rem,
    h4: 1.414rem,
    h5: 1rem,
    h6: 0.707rem,

    small: 12px
  )
));
