// Components :: Avatar

.c-ma-face {
  position: relative;
  width: 100px;

  &__image {
    animation: a-ma-face 3s infinite;
    backface-visibility: hidden;
  }

  &__shadow {
    animation: a-ma-face__shadow 3s infinite;
    backface-visibility: hidden;
    background: rgba(black, 0.1);
    border-radius: 50%;
    height: 10px;
    position: relative;
    left: 5px;
    margin: auto;
    width: 40%;
  }
}



// Animations
@keyframes a-ma-face {
  0% {
    transform: translateY(0) rotate(-10deg);
  }
  50% {
    transform: translateY(10px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(-10deg);
  }
}

@keyframes a-ma-face__shadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
