@import "pack/seed-dash/_index";
@import "../configs/headings";
@import "../functions/rem";

.c-Heading {
  font-weight: 700;
  line-height: 1.1;

  &.is-muted {
    opacity: 0.6;
  }

  &.is-small {
    font-size: rem(_config(headingSize, small));
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  $sizes: (
    h1: (
      size: _config(headingSize, h1),
      letter-spacing: -3px,
    ),
    h2: (
      size: _config(headingSize, h2),
      letter-spacing: -2px,
    ),
    h3: (
      size: _config(headingSize, h3),
      letter-spacing: -1px,
    ),
    h4: (
      size: _config(headingSize, h4),
      letter-spacing: 0,
    ),
    h5: (
      size: _config(headingSize, h5),
      letter-spacing: 0,
    ),
    h6: (
      size: _config(headingSize, h6),
      letter-spacing: 0,
    ),
  );

  @each $size, $props in $sizes {
    &.is-#{$size} {
      $size: _get($props, size);
      $letterSpacing: _get($props, letter-spacing);
      font-size: $size;
      letter-spacing: $letterSpacing;
    }
  }
}
