.c-QFace {
  position: absolute;
  top: -15px;
  right: 0;
  opacity: 0.3;
  transform: rotate(-5deg);
  height: 180px;
  width: 180px;
  @include breakpoint(md) {
    height: 280px;
    width: 280px;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  path {
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: SVGDraw 3s normal forwards ease-in-out;
  }

  @keyframes SVGDraw {
    0% {
      opacity: 0.6;
      stroke-dashoffset: 1000;
    }
    40% {
      fill: rgba(white, 0);
      opacity: 1;
      stroke-dashoffset: 0;
      stroke-width: 2;
    }
    70% {
      fill: white;
      opacity: 1;
      stroke-width: 0;
    }
    100% {
      fill: white;
      opacity: 0.6;
      stroke-width: 0;
    }
  }
}
