@import "../configs/font";
@import "../configs/headings";
@import "../functions/rem";

.c-Text {
  $sizes: (11, 12, 13, 14, 16, 20);
  $weights: (200, 300, 400, 700, 900);

  // Sizes
  @each $size in $sizes {
    &.is-#{$size} {
      font-size: rem($size);
    }
  }

  // Weight
  @each $weight in $weights {
    &.is-#{$weight} {
      font-weight: $weight;
    }
  }

  // Family
  &.is-sans {
    font-family: #{_config(fontFamily, sans)};
  }
  &.is-serif {
    font-family: #{_config(fontFamily, serif)};
  }
  &.is-code {
    font-family: #{_config(fontFamily, code)};
  }

  // Shades
  &.is-subtle {
    opacity: 0.8;
  }

  &.is-muted {
    opacity: 0.5;
  }

  &.is-faint {
    opacity: 0.3;
  }

  // Styles
  &.is-lead {
    font-size: rem(24px);
    font-weight: 300;
    font-weight: 200;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: _config(headingSize, h4);
    }
  }

  // Transform
  &.is-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
