@import "../configs/color";
@import "../configs/headings";

@mixin copyStyles () {
  &.has-dropCap {
    & > p {
      @import "./firstLetterStyles";
      @include firstLetterStyles;
    }
  }

  & > p {
    margin-bottom: 1.6em;
  }

  & > blockquote {
    margin-bottom: 40px;
    margin-top: 40px;

    @include breakpoint(md) {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }

  img {
    @import "../components/Framed/framedStyles";
    @include framedStyles(white);
  }
}
