@import "../configs/headings";
@import "../functions/rem";

@mixin leadStyles() {
  font-size: rem(24px);
  font-weight: 300;
  font-weight: 200;
  line-height: 1.2;

  @include breakpoint(sm) {
    font-size: _config(headingSize, h4);
  }
}
